@import "../../shared/vars";
@import "../../shared/flag";

@width: 35px;
@height: 24px;

.index-flag {
  width: 35px;
  height: 24px;

  &--thailand {
    .flag("thailand", @width, @height);
  }

  &--france {
    .flag("france", @width, @height);
  }

  &--czech {
    .flag("czech", @width, @height);
  }

  &--belgium {
    .flag("belgium", @width, @height);
  }

  &--seychelles {
    .flag("seychelles", @width, @height);
  }

  &--srilanka {
    .flag("srilanka", @width, @height);
  }
}
