@import "../../shared/vars";
@import "../../shared/colors";
@import "../../shared/direction";

.index-direction {
  opacity: 0.15;
  width: 24px;
  height: 21px;

  &--active {
    opacity: 1;
  }

  &--avia {
    .direction-avia(19px, 21px);
  }

  &--bus {
    .direction-bus(17px, 21px);
  }

  &--velo {
    .direction-velo(24px, 21px);
  }

  &--run {
    .direction-run(20px, 21px);
  }
}
