@import "../../shared/index";

.continent-list {
  display: none;

  &__item {
    cursor: pointer;
    width: 55px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    text-align: left;
    color: @dark-blue-grey;
    text-transform: uppercase;
    padding-bottom: 5px;
    opacity: 0.3;
  }

  &__item:hover {
    opacity: 0.6;
  }

  &__radio:checked + &__item {
    opacity: 1;
  }

  &__radio {
    display: none;
  }

  @media (min-width: @tablet-width) {
    width: 365px;
    justify-content: space-between;

    &__item {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.2;
      color: @dark-blue-grey;
      padding-bottom: 0;
    }

    &__item:nth-of-type(1) {
      width: 69px;
    }

    &__item:nth-of-type(2) {
      width: 47px;
    }

    &__item:nth-of-type(3) {
      width: 85px;
    }

    &__item:nth-of-type(4) {
      width: 80px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: -337px;
  }
}
