@import "../../shared/index";

.filters-countries-header {
  min-height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__caption::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 10px;
    background: url("@{imgPath}/filter.svg") center no-repeat;
    left: -27px;
    top: 5px;
  }

  &__caption {
    position: relative;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    color: @dark-blue-grey;
    text-transform: uppercase;
  }

  &__controls {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: @tablet-width) {
    margin-top: 5px;

    &__caption {
      display: none;
    }

    &__controls {
      width: 176px;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media (min-width: @desktop-width) {
    &__caption::before {
      width: 23px;
      height: 15px;
      left: -42px;
      top: 4px;
    }

    &__caption {
      width: 246px;
      display: block;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.2;
    }
  }
}
