@import "../../shared/index";

.filters-countries {
  background-color: @pale-grey-four;
  .z-background-bottom(20px, @pale-grey);

  &__wrapper {
    min-height: 52px;
    padding-left: 52px;
  }

  &__continents {
    display: none;
  }

  &--open &__continents {
    display: flex;
  }

  &__button {
    width: 17px;
    height: 19px;
    background: transparent url("@{imgPath}/dots.svg") center no-repeat;
  }

  &--open &__button {
    width: 12px;
    height: 12px;
    background: url("@{imgPath}/filter-close.svg") center no-repeat;
  }

  @media (min-width: @tablet-width) {
    &__continents {
      display: flex;
    }
  }
}
