@import "../shared/colors";

.about-service {
  min-height: 352px;
  background: @dark-blue-grey url("../../img/about-mobile@1x.png") 18px no-repeat;
  border-radius: 0 0 30px 30px;

  &__caption {
    margin: 0;
  }
}
