@import "../shared/vars";
@import "../shared/colors";

.best-app {
  width: 100%;

  &__wrapper {
    min-height: 285px;
    background-color: @bg-default;
    padding: 20px;
  }

  @media (min-width: @tablet-width) {
    min-height: 591px;

    &__wrapper {
      background-color: transparent;
    }
  }
}
