@import "../shared/colors";

.companions::before {
  position: absolute;
  content: "";
  width: 113px;
  height: 132px;
  border-radius: 0 20px 20px 0;
  background-color: @dark-blue-grey-four;
  top: 39px;
  z-index: -1;
}

.companions {
  position: relative;
  min-height: 1322px;
  border-radius: 0 0 30px 30px;
  background: @dark-blue-grey url(~"../img/smolov-back-desktop@1x.png") 152px 39px no-repeat;
  z-index: 1;

  &__caption {
    margin: 0;
    width: 143px;
    height: 23px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: @mango;
    padding-top: 70px;
    padding-left: 25px;
  }

  &__description {
    width: 215px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    color: @white;
    margin-top: 44px;
    margin-left: 25px;
  }

  &__extra {
    width: 192px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    color: @white;
    margin-top: 21px;
    margin-left: 24px;
  }

  &__list::before {
    position: absolute;
    content: "";
    background-image: url(~"../img/rogovaya-back-mobile@1x.png");
    width: 71px;
    height: 71px;
    top: -35px;
    left: -35px;
    z-index: -1;
  }

  &__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 57px 0 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;
  }

  &__companion {
    padding: 0;
    margin: 0;
  }

  &__image {
    display: block;
    border-radius: 10px 10px 0 0;
  }

  &__companion-details {
    position: relative;
    width: 100%;
    min-height: 157px;
    background-color: @white;
    border-radius: 0 0 10px 10px;
  }

  &__flags {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 164px;
    top: -11px;
    left: 62px;
  }

  &__flag {
    margin-right: 19px;
  }

  &__name::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: @salmon;
    top: 9px;
    left: -15px;
  }

  &__name {
    position: absolute;
    width: 139px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: @dark-slate-blue;
    text-align: center;
    top: 24px;
    left: 65px;
  }

  &__hashtags {
    width: 179px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.13;
    text-align: center;
    color: @four;
    top: 61px;
    position: absolute;
    left: 46px;
  }

  &__directions {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 21px;
    left: 68px;
    justify-content: space-around;
    width: 133px;
  }

  &__button {
    width: 270px;
    height: 62px;
    background-color: @light-gold;
  }
}
