@import "../shared/colors";

.directions {
  background-color: @white;

  &__caption {
    margin: 0;
    width: 143px;
    height: 23px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: @mango;
    padding-top: 70px;
    padding-left: 25px;
  }

  &__description {
    width: 200px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    color: @four;
    margin-left: 25px;
    margin-top: 44px;
  }
}
