@import "../shared/vars";
@import "../shared/colors";

.direction {
  height: 21px;
  opacity: 0.15;

  &--active {
    opacity: 1;
  }

  &--avia {
    width: 19px;
    background-image: url("@{imgPath}/directions/plane.svg");
  }

  &--bus {
    width: 17px;
    background-image: url("@{imgPath}/directions/bus.svg");
  }

  &--velo {
    width: 24px;
    background-image: url("@{imgPath}/directions/bike.svg");
  }

  &--run {
    width: 20px;
    background-image: url("@{imgPath}/directions/run.svg");
  }
}
