@import "../shared/vars";
@import "../shared/colors";

.feedback {
  display: flex;
  flex-direction: column;
  padding-left: 25px;

  &__description {
    width: 148px;
    height: 37px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    color: @white;
    margin-top: 19px;
  }

  &__extra {
    width: 155px;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    color: @white;
    margin-top: 25px;
  }
}
