.flag {
  width: 35px;
  height: 24px;

  &--thailand {
    background-image: url("../../img/flags/thailand.png");
  }

  &--france {
    background-image: url("../../img/flags/france.png");
  }

  &--czech {
    background-image: url("../../img/flags/czech.png");
  }
}
