@import "../shared/vars";

.flag {
  width: 35px;
  height: 24px;

  &--thailand {
    background-image: url("@{imgPath}/flags/thailand.png");
  }

  &--france {
    background-image: url("@{imgPath}/flags/france.png");
  }

  &--czech {
    background-image: url("@{imgPath}/flags/czech.png");
  }

  &--belgium {
    background-image: url("@{imgPath}/flags/belgium.png");
  }

  &--seychelles {
    background-image: url("@{imgPath}/flags/seychelles.png");
  }

  &--srilanka {
    background-image: url("@{imgPath}/flags/srilanka.png");
  }
}
