@import "../shared/vars";
@import "../shared/colors";

.index-header {
  position: relative;
  background-color: @bg-default;
  min-height: 478px;

  &__wrapper {
    padding-top: 27px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (min-width: @tablet-width) {
    &__wrapper {
      padding-top: 40px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media (min-width: @desktop-width) {
    &__wrapper {
      padding-top: 48px;
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}
