@import "../shared/vars";
@import "../shared/colors";

.logo {
  flex-grow: 1;

  &__image {
    display: none;
  }

  &__image--mobile {
    display: block;
  }

  @media (min-width: @tablet-width) {
    flex-grow: 0;

    &__image--mobile {
      display: none;
    }

    &__image--tablet {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    &__image--tablet {
      display: none;
    }

    &__image--desktop {
      display: block;
    }
  }
}
