@import "../shared/vars";
@import "../shared/colors";

.menu-buttons {
  position: absolute;
  bottom: -20px;
  display: flex;

  &__button {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__button::before {
    position: absolute;
    content: "";
  }

  &__button:active::before {
    opacity: 0.3;
  }

  &__button--call {
    background: @mango;
  }

  &__button--call:hover {
    background: @dusty-orange;
  }

  &__button--call::before {
    top: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
    background-image: url("@{imgPath}/topmenu-phone.svg");
  }

  &__button--mail {
    background: @mango-two;
  }

  &__button--mail:hover {
    background: @mango;
  }

  &__button--mail::before {
    top: 13px;
    left: 11px;
    width: 18px;
    height: 14px;
    background-image: url("@{imgPath}/topmenu-mail.svg");
  }

  /* medium */

  &__button-medium {
    width: 189px;
    height: 40px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    background: @light-gold;
  }

  &__button-medium:hover {
    background: @mango-two;
  }

  &__button-medium:active::before {
    color: @dark-two;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    position: static;

    &__button {
      display: none;
    }

    &__button-medium {
      height: 50px;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5;
    }
  }

  @media (min-width: @desktop-width) {
    &__button {
      display: block;

      width: 50px;
      height: 50px;
    }

    &__button--call::before {
      top: 16px;
      left: 16px;
    }

    &__button--mail::before {
      top: 18px;
      left: 16px;
    }
  }
}
