@import "../shared/vars";
@import "../shared/colors";

.promo {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: @white;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__description {
    width: 237px;
  }
}
