@import "../shared/vars";
@import "../shared/colors";

.promo {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__description {
    width: 237px;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    color: @white;
    margin-top: 45px;
  }

  @media (min-width: @tablet-width) {
    &__description {
      width: 395px;
      height: 196px;
      font-size: 60px;
      line-height: 1.17;
      margin-top: 68px;
    }
  }
}
