@import "../../shared/index";
@import "../common/index";

.register {
  .margin-fix();
  .z-background-bottom(30px, @light-gold);
  width: 100%;
  min-height: 502px;

  background-color: @dark-blue-grey;

  &__wrapper {
    position: relative;
    padding-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__caption {
    .orange-header();
  }

  &__description {
    width: 153px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    text-align: center;
    color: @white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  &__questions {
    width: 210px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    text-align: center;
    color: @white;
  }

  &__agitate {
    width: 153px;
  }

  &__auth {
    width: 200px;
  }

  &__answer {
    width: 212px;
  }

  &__field {
    margin-top: 30px;
    margin-bottom: 26px;
  }

  @media (min-width: @tablet-width) {
    min-height: 713px;
    .z-background-bottom(60px, @light-gold);

    &__caption {
      .orange-header-big();
    }

    &__description {
      font-size: 28px;
      font-weight: 300;
      line-height: 1.18;
      margin-top: 60px;
    }

    &__agitate {
      width: 555px;
    }

    &__auth {
      width: 625px;
    }

    &__questions {
      width: 613px;
      font-size: 28px;
      line-height: 1.18;
    }

    &__answer,
    &__question {
      display: inline-block;
    }

    &__answer {
      width: auto;
    }

    &__field {
      margin-top: 66px;
      margin-bottom: 56px;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 749px;

    &__wrapper {
      padding-top: 101px;
    }
  }
}
