@import "../../shared/index";
@import "../common/index";

.register {
  .margin-fix();
  .z-background-bottom(30px, @light-gold);
  width: 100%;
  min-height: 502px;

  background-color: @dark-blue-grey;

  &__wrapper {
    position: relative;
    padding-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__caption {
    .orange-header();
  }

  &__description {
    width: 153px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    text-align: center;
    color: @white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  &__questions {
    width: 210px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    text-align: center;
    color: @white;
  }

  &__phone::before,
  &__mailto::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    background-color: @dark-blue-grey-two;
    border-radius: 50%;
    top: -12px;
    left: -60px;
  }

  &__phone::after,
  &__mailto::after {
    position: absolute;
    content: "";
    background-color: @light-gold;
  }

  &__phone::after {
    width: 18px;
    height: 18px;
    mask-image: url("@{imgPath}/contacts-phone.svg");
    top: 1px;
    left: -46px;
  }

  &__mailto::after {
    width: 18px;
    height: 13px;
    mask-image: url("@{imgPath}/contacts-mail.svg");
    top: 4px;
    left: -46px;
  }

  &__phone,
  &__mailto {
    position: relative;
    width: 119px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    text-align: left;
    color: @light-gold;
  }

  &__mailto {
    margin-top: 23px;
    text-transform: uppercase;
  }

  &__agitate {
    width: 153px;
  }

  &__auth {
    width: 200px;
  }

  &__answer {
    width: 212px;
  }

  &__field {
    margin-top: 30px;
    margin-bottom: 26px;
  }

  &__contacts {
    margin-left: -30px;
    margin-top: 32px;
  }
}
