@import "../../shared/colors";
@import "../../shared/vars";

.map {
  position: relative;
  width: 100%;
  min-height: 330px;
  background: url("@{imgPath}/map.png") no-repeat;
  background-size: cover;
  z-index: -1;
  top: -34px;

  &__marker {
    position: absolute;
    content: "";
    background: url("@{imgPath}/map-marker.svg") no-repeat;
    width: 41px;
    height: 41px;
    top: 140px;
    left: 140px;
  }

  @media (min-width: @tablet-width) {
    min-height: 570px;
    top: -54px;

    &__marker {
      width: 54px;
      height: 54px;
      top: 220px;
      left: 357px;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 510px;

    &__marker {
      top: 184px;
      left: 693px;
    }
  }
}
