@import "../../shared/index";

.level {
  display: flex;
  flex-direction: column;

  &__inputs {
    display: flex;
    flex-direction: row;
  }

  &__input {
    width: 110px;
    height: 35px;
    border: 1px solid @cloudy-blue;
    border-radius: 5px;
    text-align: center;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 0.9;
    color: @dark-slate-blue;
  }

  &__input:hover {
    border-color: @bluey-grey;
  }

  &__input:focus {
    border-color: @dark-two;
  }

  &__from {
    position: relative;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &__to {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: none;
  }

  &__text {
    position: relative;
  }

  &__text::before {
    position: absolute;
    display: flex;
    align-items: center;
    content: "\2014";
    width: 9px;
    height: 15px;
    color: @bluey-grey;
    background-color: @white;
    top: 10px;
    right: -4px;
    z-index: 1;
  }

  &__range {
    position: relative;
    margin-top: 26px;
    width: 210px;
  }

  &__scale {
    display: flex;
    flex-direction: row;
    width: 100%;
    left: 0;
    height: 3px;
  }

  &__bar {
    border-radius: 1.5px;
    background-color: @dark-slate-blue;
    height: 3px;
  }

  &__bar1 {
    opacity: 0.2;
    width: 30%;
    left: 0;
  }

  &__bar2 {
    width: 70%;
    left: 30%;
  }

  &__toggle-min,
  &__toggle-max {
    position: absolute;
    content: "";
    top: -5px;
    width: 13px;
    height: 13px;
    background-color: @dark-slate-blue;
    border-radius: 50%;
    cursor: pointer;
  }

  &__toggle-min {
    left: 30%;
  }

  &__toggle-max {
    left: 100%;
  }

  &__toggle-min:hover,
  &__toggle-max:hover {
    width: 16px;
    height: 16px;
    top: -6px;
  }

  &__toggle-min:active,
  &__toggle-max:active {
    box-shadow: 0 3px 7px 0 rgba(29, 46, 91, 0.35);
  }

  @media (min-width: @tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;

    &__range {
      margin-top: 20px;
    }

    &__input {
      width: 75px;
      height: 46px;
      font-size: 20px;
      font-weight: 500;
      line-height: 0.9;
      letter-spacing: 2px;
    }

    &__text::before {
      top: 15px;
    }
  }
}
