@import "../../shared/index";

.search-companions {
  display: flex;
  flex-direction: column;
  background-color: @pale-grey;
  min-height: 2924px;
  padding: 24px 25px 46px 25px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
    padding: 46px 40px 40px 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 77px 60px 65px 60px;

    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
