@import "../shared/vars";

.body-container {
  width: @mobile-width;
}

@media (min-width: @tablet-width) {
  .body-container {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .body-container {
    width: @desktop-width;
  }
}
