@import "colors";

.button-menu-medium {
  position: relative;
  width: 189px;
  height: 40px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  background: @light-gold;
}

.button-menu-medium:hover {
  background: @mango-two;
}

.button-menu-medium::before {
  position: relative;
  content: "Авторизация";
}

.button-menu-medium:active::before {
  color: @dark-two;
  opacity: 0.3;
}
