@bg-default: #182044;
@mango: #ff8d30;
@mango-two: #ffbd30;
@mango-three: #ffa530;
@dusty-orange: #f26926;
@dark-two: #161c35;
@light-gold: #ffd74b;
@light-gold-two: #ffd64b;
@dark-blue-grey: #192144;
@dark-blue-grey-two: #121936;
@dark-blue-grey-four: #141b3b;
@white: #ffffff;
@red: #ff0000;
@greyish-brown: #444444;
@pale-grey: #edeff6;
@pale-grey-two: #dfe3f0;
@pale-grey-four: #e2e5f2;
@color-text: rgba(68, 68, 68, 0.3);
@dark-slate-blue: #1d2e5b;
@salmon: #f97676;
@table-border: #e1e3e9;
@placeholder: rgba(68, 68, 68, 0.3);
@cloudy-blue: #cbced9;
@light-periwinkle: #d6daed;
@macaroni-and-cheese: #f3c72b;
@bluey-grey: #959bb2;
@green-apple: #81e31e;
@very-light-pink-two: #f9eaea;
@light-blue-grey-five: #d4d9eb;
@steel-grey: #808285;
@orange-red: #ff5c23;
@light-navy: #132576;
