@bg-default: #161c36;
@mango: #ff8d30;
@mango-two: #ffbd30;
@mango-three: #ffa530;
@dusty-orange: #f26926;
@dark-two: #161c35;
@light-gold: #ffd74b;
@dark-blue-grey: #192144;
@white: #ffffff;
@four: #444444;
