@bg-default: #161c36;
@mango: #ff8d30;
@mango-two: #ffbd30;
@mango-three: #ffa530;
@dusty-orange: #f26926;
@dark-two: #161c35;
@light-gold: #ffd74b;
@dark-blue-grey: #192144;
@dark-blue-grey-two: #121936;
@dark-blue-grey-four: #141b3b;
@white: #ffffff;
@red: #ff0000;
@four: #444444;
@pale-grey: #edeff6;
@pale-grey-four: #e2e5f2;
@color-text: rgba(68, 68, 68, 0.3);
@dark-slate-blue: #1d2e5b;
@salmon: #f97676;
@table-border: #e1e3e9;
@placeholder: rgba(68, 68, 68, 0.3);
@cloudy-blue: #cbced9;
@light-periwinkle: #d6daed;
