@import "vars";

.flag(@flag, @width, @height) {
  background-image: url("@{imgPath}/flags/@{flag}.png"); // TODO
  background-size: @width @height;
  background-repeat: no-repeat;
  background-position: center;
}
