@import "../../shared/index";

.directions {
  min-height: 990px;
  background-color: @pale-grey;
  .z-background-bottom(30px, @dark-blue-grey);

  @media (min-height: @tablet-width) {
    min-height: 1094px;
    .z-background-bottom(60px, @dark-blue-grey);

    &__wrapper {
      padding-left: 76px;
    }
  }
}
