@import "../../shared/index";

.directions-controls {
  margin-top: 17px;

  &__button {
    width: 270px;
    height: 62px;
    border-radius: 10px;
    background-color: @light-gold;
  }

  @media (min-height: @tablet-width) {
    margin-top: 47px;

    &__button {
      width: 618px;
      height: 81px;
      border-radius: 20px;
    }
  }
}
