@import "../../shared/index";

.directions-header {
  &__wrapper {
    min-height: 285px;
    padding-left: 25px;
    padding-top: 71px;
  }

  &__caption {
    margin-bottom: 20px;
  }

  &__description {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    color: @four;
    margin: 0;
  }
}
