@import "../../shared/vars";
@import "../../shared/colors";

.route-button {
  position: relative;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: @dark-slate-blue;
  width: 100%;
  height: 62px;
  border: solid 3px @dark-blue-grey;
  background-color: @light-gold;
  text-align: left;
  padding-left: 20px;

  &:active {
    opacity: 0.3;
  }

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 14px;
  }

  &::after {
    background-color: @dark-blue-grey;
    mask-image: url("@{imgPath}/triangle-arrow-right.svg");
    top: 22px;
    right: 20px;
  }

  &:hover::after {
    background-color: @white;
  }

  &:hover {
    background-color: @dark-blue-grey;
    color: @white;
  }
}
