@import "../../shared/vars";
@import "../../shared/colors";

.route-button {
  position: relative;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: @dark-slate-blue;
  height: 62px;
  border: solid 3px @dark-blue-grey;
  background-color: @light-gold;
  text-align: left;
  padding-left: 20px;

  &__icon {
    position: absolute;
    width: 10px;
    height: 14px;
    top: 22px;
    right: 20px;
    fill: @dark-slate-blue;
  }

  &:hover &__icon {
    fill: @white;
  }

  &:hover {
    background-color: @dark-blue-grey;
    color: @white;
  }

  &:active {
    color: @white-30;
  }

  &:active::after {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    height: 81px;
    border-radius: 20px;
    font-size: 24px;
    padding-left: 32px;

    &__icon {
      width: 10px;
      height: 14px;
      top: 32px;
      right: 33px;
    }
  }
}
