@import "../../shared/index";

.profile-add-controls {
  &__button {
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    color: @dark-blue-grey;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  &__icon {
    display: none;
  }

  @media (min-width: @tablet-width) {
    position: relative;

    &__icon {
      display: block;
      position: absolute;
      fill: @dark-slate-blue;
      width: 17px;
      height: 21px;
      top: 0;
      left: 25px;
      z-index: 1;
    }

    &__button {
      font-size: 20px;
      font-weight: bold;
      line-height: 1;
      color: @light-navy;
      margin-left: 88px;
    }

    &__button::after {
      position: absolute;
      content: "";
      background-color: @pale-grey-four;
      width: 67px;
      height: 67px;
      top: -24px;
      left: 0;
      border-radius: 50%;
    }
  }
}
