@import "../../shared/index";
@import "../common/index";

/*
  height выставлен специально для IE, иначе это никак не работает
  пробовал и это в том числе: https://github.com/philipwalton/flexbugs
*/

.tariffs-popup {
  display: none;
  top: -10px;
  left: 25px;
  position: absolute;
  width: 270px;
  height: 443px;
  min-height: 443px;
  border-radius: 20px;
  box-shadow: 0 20px 50px 0 @dark-slate-blue-10;
  background-color: @white;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &--opened {
    display: flex;
  }

  &__header {
    margin-top: 30px;
  }

  &__caption {
    .orange-header();
  }

  &__wrapper {
    width: 100%;
    padding-left: 25px;
    padding-right: 26px;
  }

  &__table {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__row {
    width: 100%;
    border-top: 1px solid @table-border;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__row:last-child {
    border-bottom: 1px solid @table-border;
  }

  &__cell {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    text-align: left;
    color: @greyish-brown;
  }

  &__controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__button {
    width: 100%;
    height: 59px;
    background-color: @pale-grey-five;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: @dark-slate-blue;
    text-transform: uppercase;
  }

  &__button:hover {
    background-color: @pale-grey;
  }

  &__button:active {
    color: @dark-slate-blue-30;
  }

  @media (min-width: @tablet-width) {
    top: unset;
    bottom: -590px;
    left: 37px;

    width: 688px;
    height: 526px;
    min-height: 526px;
    border-radius: 30px;
    z-index: 1;

    &__wrapper {
      padding-right: 91px;
      padding-left: 91px;
    }

    &__header {
      margin-top: 48px;
    }

    &__caption {
      .orange-header-big();
    }

    &__row {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    &__cell {
      font-size: 22px;
      font-weight: 300;
      line-height: 1.27;
    }

    &__controls {
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
    }

    &__button {
      height: 108px;
      text-transform: none;
      font-size: 24px;
      font-weight: bold;
      line-height: 1;
      text-align: center;
    }
  }

  @media (min-width: @desktop-width) {
    width: 750px;
    height: 526px;
    min-height: 526px;
    top: 101px;
    left: 344px;
    bottom: unset;

    &__wrapper {
      padding-right: 60px;
      padding-left: 60px;
    }
  }
}
