@import "../../shared/index";

.profile-area {
  width: 100%;
  position: relative;
  border-radius: 10px;
  border: solid 1px @cloudy-blue;
  padding: 0 20px 0 20px;

  &__tag-header {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.13;
    text-align: center;
    color: @dark-slate-blue;
    text-transform: uppercase;
    background: @pale-grey;
    padding-left: 20px;
    padding-right: 20px;
    top: -9px;
  }

  &__tag-header1 {
    left: 94px;
  }

  &__tag-header2 {
    left: 73px;
  }

  &__tags {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.38;
    text-align: left;
    color: @greyish-brown;
  }

  &__directions {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
}
