@import "../shared/vars";
@import "../shared/colors";

.catalog {
  background-color: @pale-grey;
  border: 1px solid transparent;

  &__item {
    display: flex;
    flex-direction: column;
    // https://stackoverflow.com/questions/29270465/why-doesnt-justify-content-center-work-in-ie/29270539
  }
}
