@import "../shared/colors";
@import "../shared/vars";

.catalog-header {
  position: relative;
  background-color: @bg-default;
  min-height: 143px;
  border-radius: 0 0 20px 20px;

  &__wrapper {
    padding-top: 19px;
  }

  &__fixed {
    display: flex;
    justify-content: space-between;
  }

  &__toggle {
    cursor: pointer;
    margin-top: 4px;
    width: 25px;
    height: 11px;
    background-image: url("@{imgPath}/menu-white.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
  }

  &__caption {
    position: relative;
    width: 169px;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    text-align: left;
    color: @white;
    margin-top: 49px;
  }

  &__caption::after {
    position: absolute;
    content: "";
    width: 173px;
    height: 5px;
    background-color: @mango;
    border-radius: 10px;
    bottom: -15px;
  }
}

.catalog-header::after {
  position: absolute;
  content: "";
  bottom: 0;
  background-color: @pale-grey-four;
  width: 100%;
  height: 20px;
  z-index: -1;
}
