@import "../shared/vars";
@import "../shared/colors";

.companion-filters {
  background-color: @pale-grey;
  border: 1px solid transparent;

  &__filters {
    display: flex;
    flex-direction: column;
    background-color: @light-gold;
    margin-top: 24px;
    border-radius: 20px;
    min-height: 624px;
    justify-content: space-between;
    padding: 25px;
  }

  &__caption {
    width: 118px;
    font-size: 22.5px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: @dark-slate-blue;
  }
}
