@import "../shared/vars";
@import "../shared/colors";

.country-filters {
  position: relative;
  background-color: @pale-grey-four;
  min-height: 747px;
  border-radius: 0 0 20px 20px;

  &__caption::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 10px;
    background-image: url("@{imgPath}/filter.svg");
    top: 6px;
    left: -27px;
  }

  &__caption {
    position: relative;
    width: 194px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    color: @dark-blue-grey;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    top: 16px;
    left: 27px;
  }

  &__caption::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background-image: url("@{imgPath}/filter-close.svg");
    top: 4px;
    right: -42px;
  }

  &__continents {
    margin-top: 46px;
    margin-left: 26px;
  }

  &__alphabet {
    margin-top: 15px;
    margin-left: 24px;
  }

  &__countries {
    list-style: none;
    margin-top: 8px;
    margin-left: -14px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.38;
    color: @four;
  }

  &__button::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background-image: url("@{imgPath}/filter-close.svg");
    top: 14px;
    left: 85px;
  }

  &__button {
    position: relative;
    width: 270px;
    height: 40px;
    border-radius: 20px;
    background-color: @light-periwinkle;
    font-size: 16.5px;
    font-weight: bold;
    line-height: 1.79;
    color: @dark-two;
    text-transform: uppercase;
    margin-top: 12px;
    padding-left: 30px;
  }
}
