@import "../shared/vars";
@import "../shared/colors";

.filters {
  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    cursor: pointer;
    border-top: 1px solid @macaroni-and-cheese;
  }

  &__caption {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.13;
    text-align: left;
    color: @dark-slate-blue;
    text-transform: uppercase;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 100%;
  }

  &__caption::after {
    position: absolute;
    content: "";
    right: 0;
    top: 20px;
    width: 8px;
    height: 4px;
    background-image: url("@{imgPath}/dropdown.svg");
    background-repeat: no-repeat;
    background-color: transparent;
  }

  &__item--opened &__caption::after {
    transform: rotate(180deg);
  }

  &__content {
    display: none;
    min-height: 85px;
  }

  &__item--opened &__content {
    display: flex;
    flex-direction: column;
  }

  &__label::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    left: -25px;
    top: -2px;
    border-radius: 5px;
    background-color: @white;
  }

  &__label {
    cursor: pointer;
    position: relative;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    text-align: left;
    color: @four;
    margin-left: 24px;
    padding-bottom: 10px;
  }

  &__label:hover {
    opacity: 0.6;
  }

  &__label:active {
    opacity: 0.3;
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked + &__label::before {
    background: @white url("@{imgPath}/tick.svg") center no-repeat;
    background-size: 9px 9px;
  }
}
