@import "../shared/vars";
@import "../shared/colors";

.wishes {
  &__header::before,
  &__header::after {
    position: absolute;
    content: "";
    height: 1px;
    top: 9px;
    background-color: @table-border;
  }

  &__header::before {
    width: 13px;
    left: -26px;
  }

  &__header::after {
    width: 135px;
    right: -128px;
  }

  &__header {
    position: relative;
    background: @white;
    width: 116px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.2;
    color: @four;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
  }

  &__country {
    width: 78px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    color: @dark-slate-blue;
    text-transform: uppercase;
    margin: 0 0 0 15px;
  }

  &__flag {
    width: 26px;
    height: 18px;
  }
}
