@import "../shared/colors";
@import "../shared/vars";

.step3 {
  min-height: 832px;

  &__list {
    list-style: none;
    padding: 0;
  }

  &__send {
    width: 230px;
    height: 40px;
    border-radius: 20px;
    background-color: @light-gold;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.76;
    text-align: center;
    color: @dark-two;
    text-transform: uppercase;
  }

  &__send:hover {
    opacity: 0.6;
  }

  &__send:active {
    opacity: 0.3;
  }

  &__prev {
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: center;
    color: @dark-two;
    text-transform: uppercase;
    background-color: transparent;
  }
}
