@import "../shared/colors";
@import "../shared/vars";

.step2 {
  min-height: 517px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
  }

  &__item:not(:last-child)::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 10px;
    background: transparent url("@{imgPath}/small-arrow.svg") center no-repeat;
    background-size: 5px 10px;
    bottom: -15px;
    right: 52px;
    opacity: 0.3;
  }

  &__button-add {
    position: relative;
    width: 220px;
    height: 42px;
    border-radius: 4px;
    background-color: @pale-grey;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: 0.4px;
    color: @dark-slate-blue;
    text-transform: uppercase;
    text-align: left;
    padding-left: 10px;
  }

  &__button-add::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border: solid 1px @cloudy-blue;
    border-radius: 50%;
    top: 17px;
    right: 49px;
  }

  &__button-add::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background-image: url("@{imgPath}/qty-plus-mobile.svg");
    background-size: 14px 14px;
    top: 14px;
    right: 15px;
    opacity: 0.3;
  }

  &__next {
    width: 230px;
    height: 40px;
    border-radius: 20px;
    background-color: @light-gold;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.76;
    text-align: center;
    color: @dark-two;
    text-transform: uppercase;
  }

  &__next:hover {
    opacity: 0.6;
  }

  &__next:active {
    opacity: 0.3;
  }

  &__prev {
    height: 16px;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: center;
    color: @dark-two;
    text-transform: uppercase;
    background-color: transparent;
  }
}
