@import "../../shared/index";
@import "../common/index";

.companions {
  .margin-fix();
  .z-background-bottom(30px, @pale-grey);
  background-color: @dark-blue-grey;
  width: 100%;
  min-height: 1300px;

  &__wrapper {
    padding-top: 69px;
  }
}
