@import "../../shared/index";
@import "../common/index";

.companions {
  .margin-fix();
  .z-background-bottom(30px, @pale-grey);
  width: 100%;
  min-height: 1322px;

  background-color: @dark-blue-grey;
  background-image: url("@{imgPath}/smolov-back-desktop@1x.png"), url("@{imgPath}/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 152px 38px, -10px 310px;

  &__wrapper {
    padding-top: 69px;
  }

  &__controls {
    margin-top: 10px;
  }

  &__button {
    width: 270px;
    height: 62px;
    border-radius: 10px;
    background-color: @light-gold;
  }
}
