@import "../../shared/index";
@import "../common/index";

.companions-header {
  min-height: 213px;

  &__wrapper {
    padding-left: 25px;
  }

  &__caption {
    .orange-header();
  }

  &__description {
    width: 215px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    color: @white;
    margin: 20px 0 0 0;
  }

  &__extra {
    width: 192px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    color: @white;
    margin: 21px 0 0 0;
  }
}
