@import "../../shared/index";

.form-plans {
  display: flex;
  flex-direction: column;
  min-height: 456px;
  background-color: @pale-grey-two;
  .z-background-top(30px, @pale-grey);

  &__wrapper {
    padding-top: 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 410px;
  }

  &__caption {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: @dark-slate-blue;
  }
}
