@import "../../shared/index";

.menu-buttons-medium {
  width: 189px;
  height: 40px;
  border-radius: 25px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  background: @light-gold;

  &:hover {
    background: @mango-two;
  }

  &:active {
    color: @dark-two-30;
  }

  @media (min-width: @tablet-width) {
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
  }
}
