@import "../vars";
@import "../colors";
@import "../z-background";

.shared-header {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: @dark-two;
  .z-background-bottom(20px, @pale-grey-four);

  &__menu-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 143px;
    justify-content: space-between;
    padding: 18px 25px 13px;
  }

  &__buttons {
    display: none;
  }

  &__caption {
    display: inline-block;
    position: relative;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    color: @white;
    margin: 0;
  }

  &__caption::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    border-radius: 2.4px;
    background-color: @mango;
    left: 0;
    bottom: -15px;
    z-index: 1;
  }

  &__link-main {
    display: none;
  }

  @media (min-width: @tablet-width) {
    .z-background-bottom(60px, @pale-grey-four);

    &__menu-wrapper {
      min-height: 351px;
      padding-top: 40px;
      padding-left: 40px;
      padding-right: 40px;
    }

    &__buttons {
      display: flex;
    }

    &__footer {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 34px;
      padding-bottom: 54px;
      padding-right: 95px;
    }

    &__caption {
      font-size: 60px;
      line-height: 1.17;
    }

    &__caption::after {
      height: 8px;
      border-radius: 4px;
      bottom: -70px;
    }

    &__link-main {
      position: relative;
      display: block;
      width: 117px;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.2;
      color: @white;
      text-transform: uppercase;
      margin-top: 10px;
    }

    &__link-icon {
      position: absolute;
      top: 3px;
      right: -60px;
      fill: @white;
    }

    &__link-main:hover {
      opacity: 0.6;
    }

    &__link-main:active {
      opacity: 0.3;
    }
  }

  @media (min-width: @desktop-width) {
    &__menu-wrapper {
      min-height: 351px;
      padding-top: 48px;
      padding-left: 60px;
      padding-right: 60px;
    }

    &__footer {
      padding-left: 66px;
      padding-right: 123px;
    }
  }
}
