@import "../../shared/index";

.add-plan {
  min-height: 2481px;
  display: flex;
  flex-direction: column;
  background-color: @light-blue-grey-five;
  .z-background-top(30px, @pale-grey-two);

  &__wrapper {
    padding-top: 28px;
    padding-bottom: 31px;
    padding-right: 43px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__caption {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: @dark-slate-blue;
  }

  @media (min-width: @tablet-width) {
    &__wrapper {
      padding: 43px 74px 53px 75px;
    }

    &__caption {
      font-size: 36px;
      font-weight: bold;
      line-height: 1.39;
    }
  }

  @media (min-width: @desktop-width) {
    .z-background-top(60px, @pale-grey-two);

    &__wrapper {
      padding: 46px 60px 52px 130px;
    }
  }
}
