@import "../../shared/index";

.step {
  width: 100%;
  background-color: @white;
  border-radius: 10px;

  &__wrapper {
    padding: 24px 22px 25px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__caption {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: normal;
    color: @dark-slate-blue;
  }

  &__hint {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.38;
    color: @greyish-brown;
  }

  &__next {
    width: 230px;
    height: 40px;
    border-radius: 20px;
    background-color: @light-gold;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.76;
    text-align: center;
    color: @dark-two;
    text-transform: uppercase;
  }

  @media (min-width: @tablet-width) {
    border-radius: 30px;

    &__wrapper {
      padding: 44px 43px 55px 43px;
    }

    &__caption {
      font-size: 36px;
    }

    &__hint {
      width: 501px;
      font-size: 20px;
      line-height: 1.2;
    }

    &__next {
      width: 285px;
      height: 81px;
      border-radius: 20px;
      text-transform: unset;
    }
  }

  @media (min-width: @desktop-width) {
    border-radius: 60px;

    &__wrapper {
      padding: 89px 160px 105px 162px;
    }

    &__caption {
      font-size: 36px;
      line-height: 1.39;
    }

    &__caption-br {
      display: inline;
    }
  }
}
