@import "../../shared/index";

.catalog-header {
  position: relative;
  background-color: @dark-two;
  .z-background-bottom(20px, @pale-grey-four);

  &__menu-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 143px;
    justify-content: space-between;
    padding: 18px 25px 13px;
  }

  &__buttons {
    display: none;
  }

  &__footer {
    display: flex;
    flex-direction: column;
  }

  &__caption {
    position: relative;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    color: @white;
    margin: 0;
  }

  &__caption::after {
    position: absolute;
    content: "";
    width: 173px;
    height: 5px;
    border-radius: 2.4px;
    background-color: @mango;
    left: 0;
    bottom: -15px;
  }

  &__button-main {
    display: none;
  }

  @media (min-width: @tablet-width) {
    min-height: 994px;

    &__menu-wrapper {
      min-height: 90px;
      padding-top: 40px;
      padding-left: 40px;
      padding-right: 40px;
    }

    &__buttons {
      display: flex;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 750px;

    &__menu-wrapper {
      padding-top: 48px;
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}
