@import "../../shared/index";

.about-service {
  .margin-fix();
  .z-background-bottom(30px, @pale-grey);
  width: 100%;
  min-height: 631px;

  background-color: @dark-blue-grey;

  &__wrapper {
    margin-top: 279px;
    display: flex;
    flex-direction: column;
    padding-left: 49px;
    padding-top: 30px;
  }

  &__image {
    position: absolute;
    top: 278px;
    left: 18px;
    background: url("@{imgPath}/about-mobile@1x.png") center no-repeat;
    width: 292px;
    height: 352px;
    z-index: 2;
  }

  &__image-shadow {
    position: absolute;
    width: 140px;
    height: 132px;
    border-radius: 20px;
    background-color: @dark-blue-grey-four;
    left: -23px;
    top: 278px;
  }

  &__container {
    z-index: 3;
  }

  &__caption {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: @mango;
    margin: 0;
  }

  &__description {
    z-index: 1;
    width: 212px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    color: @white;
    margin: 21px 0 0;
  }

  &__extra {
    z-index: 1;
    width: 195px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    color: @white;
    margin: 18px 0 0;
  }
}
