@import "../../shared/index";

.step1-calendar {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;

  &__caption {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: @dark-slate-blue;
    border-top: 1px solid @cloudy-blue;
    border-bottom: 1px solid @cloudy-blue;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &__caption::before,
  &__caption::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 17px;
    top: 15px;
    cursor: pointer;
    opacity: 0.3;
  }

  &__caption::before {
    background: @white url("@{imgPath}/month-arrow-left.svg") center no-repeat;
    background-size: 9px 17px;
    left: 0;
  }

  &__caption::after {
    background: @white url("@{imgPath}/month-arrow-right.svg") center no-repeat;
    background-size: 9px 17px;
    right: 0;
  }

  &__caption:hover::before,
  &__caption:hover::after {
    opacity: 0.5;
  }

  &__caption:active::before,
  &__caption:active::after {
    opacity: 0.1;
  }

  &__table {
    display: table;
    width: 100%;
    height: 210px;
    border-collapse: collapse;
    margin-top: 17px;
  }

  &__row {
    display: table-row;
  }

  &__cell {
    display: table-cell;
    width: 30px;
    height: 30px;
    border: 1px solid @cloudy-blue;
    background-color: @pale-grey;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: @greyish-brown;
    cursor: pointer;
  }

  &__cell--disabled {
    background-color: @white;
    opacity: 0.3;
  }

  &__cell--selected {
    background-color: @dark-slate-blue;
    color: @white;
  }

  &__cell:hover {
    background-color: @dark-slate-blue;
    outline: 2px solid @orange-red;
    color: @white;
    z-index: 1;
  }

  &__cell-header {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: default;
  }

  &__cell-header:hover {
    background-color: transparent;
    outline: none;
    color: @greyish-brown;
  }

  &__cell-header--weekend {
    color: @orange-red;
  }

  &__letter {
    display: none;
  }

  &__additional {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 44px;

    &__caption {
      font-size: 36px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      padding-top: 21px;
      padding-bottom: 22px;
    }

    &__caption::before,
    &__caption::after {
      cursor: pointer;
      width: 30px;
      height: 35px;
      top: 25px;
      background-size: 30px 35px;
    }

    &__caption::before {
      left: 10px;
    }

    &__caption::after {
      right: 10px;
    }

    &__table {
      height: 460px;
      margin-top: 20px;
    }

    &__cell {
      font-size: 20px;
      font-weight: 500;
      line-height: 0.9;
      letter-spacing: 2px;
    }

    &__cell-header {
      height: 10px;
    }

    &__cell:hover {
      outline: 4px solid @orange-red;
    }

    &__cell-header:hover {
      outline: none;
    }

    &__letter {
      display: inline;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 28px;
    margin-bottom: 65px;

    &__caption::before {
      left: -5px;
    }

    &__caption::after {
      right: -5px;
    }

    &__table {
      height: 470px;
      margin-top: 0;
    }

    &__cell {
      position: relative;
    }

    &__cell-header {
      height: 20px;
    }

    &__letters-wrapper {
      position: absolute;
      top: 5px;
      left: 12px;
      text-align: left;
      line-height: 1.67;
      letter-spacing: 1.8px;
    }

    &__additional {
      display: inline;
    }
  }
}
