@import "../../shared/index";

.step1 {
  &__filters {
    margin-top: 24px;
  }

  &__calendar {
    margin-top: 30px;
  }

  @media (min-width: @tablet-width) {
    &__calendar {
      margin-top: 60px;
    }

    &__filters {
      margin-top: 41px;
    }

    &__header-hint {
      width: 501px;
    }
  }

  @media (min-width: @desktop-width) {
    &__filters {
      margin-top: 56px;
    }

    &__header-hint {
      width: 549px;
    }
  }
}
