@import "../../shared/index";

.step1-filters {
  min-height: 186px;
  display: flex;
  flex-direction: column;

  &__companions,
  &__duration {
    min-height: 80px;
    margin-bottom: 10px;
  }

  @media (min-width: @tablet-width) {
    &__companions,
    &__duration {
      min-height: 164px;
      margin-bottom: 10px;
    }

    &__companions {
      order: 1;
    }

    &__children {
      order: 2;
      margin-bottom: 31px;
    }

    &__duration {
      order: 3;
    }
  }
}
