@import "../../shared/index";

.step1-filters {
  min-height: 186px;
  display: flex;
  flex-direction: column;

  &__companions,
  &__duration {
    min-height: 80px;
    margin-bottom: 10px;
  }

  @media (min-width: @tablet-width) {
    &__companions,
    &__duration {
      min-height: 138px;
      margin-bottom: 10px;
    }
  }
}
